.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    background-color: white;
    border-radius: 12px;
}

h2 {
    padding: 0px 50px;
}

#rightCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

input {
    width: 350px;
    font-size: larger;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 0px;
    border-bottom: 3px solid rgb(230, 230, 230);
    border-top: 0px solid;
    border-right: 0px solid;
    border-left: 0px solid;
    transition: 0.1s;
}

input:focus {
    /* background-color: rgb(230, 230, 230); */
    outline: none;
    border-bottom: 5px solid rgb(0, 102, 255);
    transition: 0.1s;
    margin-bottom: 8px;
}

#dodaj {
    color: black;
    font-size: larger;
    background-color: rgb(230, 230, 230);
    border: 0 solid;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    width: 50%;
    transition: 0.3s;
}

#dodaj:hover {
    color: white;
    font-weight: bold;
    background-color: rgb(0, 102, 255);
    transition: 0.3s;
    cursor: pointer;
}