.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    background-color: white;
    border-radius: 12px;
}

h2 {
    padding: 0px 50px;
}

#rightCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

input {
    width: 350px;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 6px;
}

#dodaj {
    color: white;
    font-size: larger;
    background-color: rgb(0, 102, 255);
    border: 0 solid;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    width: 50%;
}