.content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
}